
.sidebar {
  width: 15rem;
}

.sidebar-sticky {
  top: 0;
  height: calc(100vh - 15rem);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.navbar {
  display: block;
  padding: 0;
  margin: 1rem 0;
}

.navbar-text {
  margin-left: 1.5rem;
  padding: 0;
  font-size: 1rem;
}

.navbar-text a{
  color: $lightgray;
  text-decoration: none;
  text-transform: uppercase;
  font-size: $font-size-sm;
}

.navbar-text a:hover{
  background: $accent;
  color: $darkergray;
}

@include media-breakpoint-up(md) {
  .navbar-brand {
    font-size: $font-size-xl;
  }
}
