<!--
<header class="navbar navbar-expand-sm navbar-light">
  <div class="container">
    {{ if not .IsHome -}}
    <a class="navbar-brand" href="{{ "/" | absURL }}">{{ .Site.Params.Title }}</a>
    {{ end -}}
    <div class="ml-auto">
    {{ range .Site.Menus.main }}
      <span class="navbar-text">
        <a href="{{ .URL }}">{{- .Name -}}</a>
      </span>
    {{ end }}
    </div>
  </div>
</header>
-->

<div class="row">
  <header class="bg-darkergray header">
    <a href="/" class="d-block bg-black m-4 brand">
    </a>
  </header>
</div>
