body {
  color: $lightgray;
}

.content {
  width: 100vw;
  max-width: 1000px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 2rem 0 1rem;
}

hr {
  border-top: 1px solid $lightgray;
}

.title {
  margin: 0 0 1rem 0;
  line-height: 1rem;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}

.text-muted {
  color: $mutedgray !important;
}

@include media-breakpoint-up(lg) {
  body {
    font-size: $font-size-sm;
  }

  .content {
    width: auto;
    padding: 2rem 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    margin-bottom: 1.125rem;
  }
}

@include media-breakpoint-up(lg) {
  .content {
    width: calc(100vw - 15rem);
    max-width: 1000px;
    padding: 2rem 0;
  }
}

.section {
  background: $gray-200;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section p,
.section a {
  margin: 0;
  text-align: center;
}

.section svg {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-top;
}

.bg-black {
  background: $black;
}

.bg-darkergray {
  background: $darkergray;
}

.bg-darkgray {
  background: $darkgray;
}

.bg-lightgray {
  background: $lightgray;
}

.bg-accent {
  background: $accent;
}
