.content {
  width: 75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 2rem 0 1rem;
}

.title {
  color: $lightgray;
  margin: 0 0 1rem 0;
  line-height: 1rem;
  text-transform: uppercase;
}

@include media-breakpoint-up(md) {
  body {
    font-size: $font-size-md;
  }

  .content {
    width: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    margin-bottom: 1.125rem;
  }
}

@include media-breakpoint-up(lg) {
  .content {
    width: 75rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.section {
  background: $gray-200;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section p,
.section a {
  margin: 0;
  text-align: center;
}

.section svg {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-top;
}

.bg-black {
  background: $black;
}

.bg-darkergray {
  background: $darkergray;
}

.bg-darkgray {
  background: $darkgray;
}

.bg-lightgray {
  background: $lightgray;
}

.bg-accent {
  background: $accent;
}
